.squadFormContainer{
    .imagePlaceHolder{
        display: flex;
        justify-content: center;
        margin: 20px 0;
        .cameraIcon{
          position: absolute;
          top: 164px;
          left: calc((50%) + 56px);   
        }
      }
      .imageErr{
        margin: 10px;
        padding-left: 10px;
        color: red;
        font-size: 17PX;
        font-weight: 600;
      }
      .squadList{
        margin: 5px;
      }        

    .clist{
        margin-left: 40%;
    }
    .squadFormCntrlPanel{
        ion-button.appButton{
            --background: rgb(33, 150, 243);
            position: fixed;
            bottom: 0;
        }
        display: flex;
        justify-content: center;
        padding: 10px;
    }
    ion-searchbar.sc-ion-searchbar-ios-h.sc-ion-searchbar-ios-s.ios{     
      margin-top: 20px;      
    }
    ion-toolbar.in-toolbar.ios.hydrated.toolbar-searchbar{
      --padding-start: 0px !important;
    }
    .sc-ion-label-md-s h3, .sc-ion-label-md-s h4, .sc-ion-label-md-s h5, .sc-ion-label-md-s h6, .sc-ion-label-ios-s h3, .sc-ion-label-ios-s h4, .sc-ion-label-ios-s h5, .sc-ion-label-ios-s h6{
      font-size: 17px;
      text-transform: capitalize;
    }
    .sc-ion-label-md-s > p, .sc-ion-label-ios-s > p{
      font-size: 13px;
    }
    .list-md{
      padding-bottom: 25px;
    }
}