

.signUpContainer {
    .loginCntrlPanel {
    display: flex;
    justify-content: center;
    padding: 10px;
}
.img_center{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 30%;
    background: #0066b3;
    margin-top: 10px;
    margin-bottom: 10px;
    padding: 10px;

}
.eye_button{
cursor: pointer;
}
.sc-ion-buttons-md-h, .sc-ion-buttons-ios-h{
    margin-top: 30px;
    margin-bottom: 0px;
}

.item-label-floating.sc-ion-input-md-h, .item-label-floating .sc-ion-input-md-h, .item-label-stacked.sc-ion-input-md-h, .item-label-stacked .sc-ion-input-md-h{
    padding-bottom: 0px;
}
.errorMessage{
    color: red;
    font-size: 12px;
    padding-left: 10px;
}

}
.txtCenter{
    text-align: center;
}
